@import '~modern-normalize/modern-normalize.css';

$normal-color: #3470FF;
$hover-color: #0B44CD;
$primary-black-color: #121417;
$secondary-dark-color: #8A8A89;
$additional-dark-color: #363535;
$white-color: #FFFFFF;

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('./fonts/Manrope-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('./fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('./fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('./fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('./fonts/Montserrat-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
}

body,
button,
a,
input,
p {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  font-style: normal;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',   'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
